@model IEnumerable<QuanLiSV.Models.Lop>

@{
    ViewData["Title"] = "Danh sách lớp";
}

<h1>Danh sách lớp</h1>

<p>
    <a asp-action="Create">Tạo Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenlop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenlop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.malop">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.malop">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.malop">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
