@model QuanLiSV.Models.Diemhoctap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diemhoctap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinhvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinhvien.gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monhoc.tenmh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemthi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemthi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemquatrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemquatrinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.masv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
