@model QuanLiSV.Models.Diemrenluyen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diemrenluyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinhvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinhvien.gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diemrenluyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diemrenluyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.masv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
