@model QuanLiSV.Models.Lichhoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lichhoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuhoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.giobatdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.giobatdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioketthuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phonghoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phonghoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monhoc.tenmh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mamonhoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
